<!DOCTYPE html>
{% extends "aws_core/base.html "%}
{% load staticfiles %}
{% block body_block %}

<br>	
<form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Station Name" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>
<a href="{% url 'aws_core:add_station' %}">Add Station</a>

{% for data in data_list %}

<br>
<div class="card">
	<div class="card-header">
		<h5 >
			{{ data.0 }}	
			<i onclick="toggleStar(this)" pk={{ data.0.pk }} class="float-right" style="cursor: pointer">
			{% if data.0.pinned %}		
					<input type="hidden" value="true">
					<img src="{% static 'icons/star_black.png' %}">
			{% else %}
					<input type="hidden" value="false">
					<img src="{% static 'icons/star_border.png' %}">
			{% endif %}
			</i>

			<a href="#">
				<img src="{% static 'icons/edit.png' %}" href="#" width="16" height="16">
			</a>
		</h5>
	</div>
	
	<div class="card-body">
		<div class="row">
			<div class="col-2">
				<h5 class="card-title">Details</h5>
				<p class="card-text">Type: {{ data.0.station_type }}</p>
				<p class="card-text">Phone: {{ data.0.station_num }}</p>
			</div>
			<div class="col-8">
				<div class="row">
					{% for column_data in data.1 %}
						<div class=field-container>
							<div class="container">
								<div class="row">
									<p class="col text-center">{{ column_data.0 }}</p>
								</div>
								<div class="row">
									<p class="col text-center data">{{ column_data.1 }}</p>
								</div>
							</div>
							
						</div>
					{% endfor %}
				</div>
				
			</div>
		</div>
		
	</div>
</div>
{% endfor %}
<script type="text/javascript">
function toggleStar(x) 
{

	if (x.childNodes[1].value == "true") 
	{
		x.childNodes[1].value = "false";
		x.childNodes[3].src = "{% static 'icons/star_border.png' %}";
	}
	else 
	{
		x.childNodes[1].value = "true";
		x.childNodes[3].src = "{% static 'icons/star_black.png' %}";
	}

	$.ajax({
		type: "POST",
		data: {
		    'pk': x.attributes.pk.value,
		    'csrfmiddlewaretoken': '{{ csrf_token }}',
		    'pinned': x.childNodes[1].value,
		},
		success: function(data){
		    console.log("success");
		    console.log(data);
		},
		failure: function(data){
		    console.log("failure");
		    console.log(data);
		},
	});
}
</script>



{% endblock %}